@keyframes appear{
    0%{
        opacity: 0;
        transform: translatey(-2rem);
    }
    100%{
        opacity: 1;
    }
}

.GameCard {
    animation-name: appear;
    animation-duration: 0.5s;
    width: 20rem;
    height: 14rem;
    margin: 0.5rem
}

.GameButton {
    margin: 0;
    padding: 0;
    border: 1px solid gray;
    border-radius: 1rem;
    width: 20rem;
    height: 14rem;
}

.GameDiv1 {
    width: 20rem;
    height: 12rem;
}

.GameDiv1 img{
    object-fit: fill;
    width: 20rem;
    height: 12rem;
    border-radius: 1rem;
}

.GameDiv2 {
    width: 20rem;
    height: 2rem;
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}