@keyframes appear {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.Page {
    display: flex;
    justify-content: space-evenly;
    animation: appear 0.41s;
}

.Data {
    margin-left: 4rem;
}

.image {
    width: 30rem;
    height: 32rem;
    margin: 2rem;
    border-radius: 2rem;
    object-fit: cover;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 2rem;
    margin-right: 1rem;
    margin-left: 4rem;
}

.imageContainer strong{
    margin-left: 2rem;
}