.Welcome {
    width: 100vw;
    height: 100vh;
    background-image: url('https://steamuserimages-a.akamaihd.net/ugc/1702906044223934023/EE91B975CC5D5FEEB832E6CB1351C29FA4BE3E97/?imw=1024&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false');
    background-size: cover ;
}
